// Mixins Here



.button-mixin {
    background: @btn-bg-color;
    font-size: 1.8em;
    padding: 2%;
    width: 5em;
    border-radius: 0.4em;
    color: white;
    text-align: center;
    a {
        text-decoration: none;
        color:white;
      }

    &:hover {
        background: lighten(@btn-bg-color,15%);
    }
}

.button-mixin-mobile {
    background: @btn-bg-color;
    font-size: 1.8em;
    width: 100%;
    padding: 4%;
    border-radius: 0.4em;
    color: white;
    text-align: center;

    &:hover {
        background: lighten(@btn-bg-color,15%);
    }
}